<h1>Bienvenue sur mon site Key Exchange.</h1>
<p>Ce site est d&eacute;di&eacute; au partage de cl&eacute; CD de jeux que vous poss&eacute;dez en trop. Pour mon cas par exemple il s'agit de jeu que j'obtiens via le site <a href="https://www.humblebundle.com/">https://www.humblebundle.com/</a> mais de jeux que je poss&egrave;de d&eacute;j&agrave;. Le commerce de quelque mani&egrave;re est strictement interdit. Il s'agit de don purement et simplement.</p>
<p>Tout commerce via ce site sera s&eacute;v&egrave;rement punie.</p>
<p><em>Cette application est en cours de d&eacute;veloppement.&nbsp;</em></p>
<app-game></app-game>
