.body-content
{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  height: 0;
  flex-grow: 1;
}

.sidenav {
  max-height: 100%;
  box-sizing: border-box;
  min-width: 7em;

}

.main-content {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 1em;
  box-sizing: border-box;
}

